
<div class="modal" ng-controller="KisBpmAssignmentPopupCtrl" >
    <div class="modal-dialog modal-lg" style="width: 1000px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">&times;</button>
                <h2 translate>PROPERTY.ASSIGNMENT.TITLE</h2>
            </div>
            <div class="modal-body">
                <div class="row row-no-gutter user-choose-type-container">
                    <div class="col-xs-6">
                        <div class="user-choose-type" ng-click="assignment.userChooseType = 1" ng-class="{'user-choose-type-selected':assignment.userChooseType==1,'user-chooose-type-obs':assignment.userChooseType&&assignment.userChooseType==2}">
                            按用户 <span ng-if="passObj.userNumber">已选{{passObj.userNumber}}人</span>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="user-choose-type" ng-click="assignment.userChooseType = 2"  ng-class="{'user-choose-type-selected':assignment.userChooseType==2,'user-chooose-type-obs':assignment.userChooseType&&assignment.userChooseType==1}">
                            按角色 <span ng-if="passObj.roleUserNumber">已选{{passObj.roleUserNumber}}人</span>
                        </div>
                    </div>
                </div>


                <div class="row row-no-gutter assign-candidate">
                    <div ng-if="assignment.userChooseType==0 || assignment.userChooseType==1" style="height: 500px;">
                        <div class="col-xs-4" style="height:100%;border-right: 1px dashed #b9b9b9;">
                            <h4>单位</h4>
                            <hr style="margin:5px 0;">
                            <ul tree class="ztree" style="overflow: auto;height:430px;"></ul>
                        </div>
                        <div class="col-xs-4" style="height:100%;border-right: 1px dashed #b9b9b9;">
                            <h4>备选用户</h4>
                            <hr style="margin:5px 0;">
                            <div ng-show="users && users.length>0" class="list-group" style="height:430px;overflow: auto;">
                                <div class="list-group-item" ng-repeat="user in users" ng-class="{'list-group-item-success':checkUserSelected(user)}">
                                    <a href="javascript:void(0);" ng-click="addCandidateUserValue($index,user)" style="color:#555">
                                        <div class="select-user-name">{{user.username}}<small>({{user.loginName}})</small></div>
                                        <div class="select-user-text">{{user.corpName}}</div>
                                        <span ng-show="!checkUserSelected(user)" class="pull-right glyphicon glyphicon-plus select-user-op-icon" aria-hidden="true"></span>
                                        <span ng-show="checkUserSelected(user)" class="pull-right glyphicon glyphicon-remove select-user-op-icon" aria-hidden="true"></span>
                                    </a>
                                    <span class="pull-right glyphicon glyphicon-eye-open watch-op-icon" ng-click="watchAction(user)" title="查看角色" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div  ng-show="!users || users.length==0" class="alert alert-warning" role="alert">请选择左侧单位</div>
                        </div>
                        <div class="col-xs-4" style="height:100%;">
                            <h4>已选用户</h4>
                            <hr style="margin:5px 0;">
                            <div class="list-group" style="height:430px;overflow: auto;">
                                <div class="list-group-item" ng-repeat="candidateUser in assignment.candidateUsers track by $index">
                                    <a href="javascript:void(0);" ng-click="removeCandidateUserValue($index,candidateUser)">
                                        <div class="select-user-name">{{candidateUser.name}}<small>({{candidateUser.loginName}})</small></div>
                                        <div class="select-user-text">{{candidateUser.corpName}}</div>
                                        <span class="pull-right glyphicon glyphicon-remove select-user-op-icon" aria-hidden="true"></span>
                                    </a>
                                    <span class="pull-right glyphicon glyphicon-eye-open watch-op-icon" ng-click="watchAction(candidateUser)" title="查看角色" aria-hidden="true"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--角色选择-->
                    <div ng-if="assignment.userChooseType==2" style="height: 500px;">
                        <div class="col-xs-3" ng-repeat="col in rolesCols">
                            <div class="list-group">
                                <div class="list-group-item"
                                     ng-class="{'list-group-item-success':checkRoleSelected(role)}"
                                     ng-repeat="role in roles"
                                     ng-if="$index%4==col">
                                    <a href="javascript:void(0);" ng-click="addCandidateGroupValue($index,role)">
                                        <div>
                                            {{role.name}}
                                            <span ng-show="!checkRoleSelected(role)" class="pull-right glyphicon glyphicon-plus select-role-op-icon" aria-hidden="true"></span>
                                            <span ng-show="checkRoleSelected(role)" class="pull-right glyphicon glyphicon-remove select-role-op-icon" aria-hidden="true"></span>
                                        </div>
                                    </a>
                                    <span class="pull-right glyphicon glyphicon-eye-open watch-op-icon-role" ng-click="watchAction(role)" title="查看用户" aria-hidden="true"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="margin-top:0;">
                <div class="row row-no-gutter user-choose-type-container" style="border-bottom: 1px solid #e5e5e5;">
                    <div class="col-xs-12">
                        <h4 class=" text-left">选择最少审批人数
                            <small>去除重复用户{{passObj.repeatUserNumber}}人，合计共{{passObj.userNumber + passObj.roleUserNumber - passObj.repeatUserNumber}}人。
                                {{slider.value}}/{{passObj.userNumber + passObj.roleUserNumber - passObj.repeatUserNumber}}</small>
                        </h4>
                        <rzslider rz-slider-model="slider.value"
                                  rz-slider-options="slider.options"></rzslider>
                    </div>
                </div>
                <button ng-click="close()" class="btn btn-primary" translate>ACTION.CANCEL</button>
                <button ng-click="save()" class="btn btn-primary" translate>ACTION.SAVE</button>
            </div>
        </div>
    </div>
</div>