<span ng-if="property.value">
    <span ng-repeat="p in property.value">
        <span ng-if="p.leftParentheses">(</span>
        <span ng-if="p.selectType==1">{{p.fieldLabel}} {{p.scopeLabel}} {{p.value}}</span>
        <span ng-if="p.selectType==2">{{p.fieldLabel}} 等于 {{p.dictName}}</span>
        <span ng-if="p.rightParentheses">)</span>
        <span ng-if="p.logic!=''">{{p.logicName}}</span>
    </span>
</span>
<span ng-if="!property.value">{{'PROPERTY.SEQUENCEFLOW.CONDITION.NO-CONDITION-DISPLAY' | translate}}</span>