
<div class="modal" ng-controller="UserRoleWatchCtrl" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">&times;</button>
                <h2 ng-show="data.username">{{data.username}}<small>({{data.loginName}})</small></h2>
                <h2 ng-show="data.name">{{data.name}}</h2>
            </div>
            <div class="modal-body" style="max-height: 400px;overflow: auto">
                <div class="row row-no-gutter">
                    <div ng-if="loading">
                        <p class="text-center">加载中...</p>
                    </div>
                    <div ng-if="!loading && !dataList || !dataList.length">
                        <p class="text-center">没有数据</p>
                    </div>
                    <div ng-if="dataList && dataList.length && data.username" class="col-xs-3" ng-repeat="col in cols">
                        <div class="list-group">
                            <a href="javascript:void(0);" class="list-group-item"
                               ng-repeat="role in dataList"
                               ng-if="$index%4==col">
                                {{role.name}}
                            </a>
                        </div>
                    </div>

                    <div ng-if="dataList && dataList.length && data.name" class="col-xs-6" ng-repeat="col in cols">
                        <div class="list-group">
                            <a href="javascript:void(0);" class="list-group-item"
                               ng-repeat="user in dataList"
                               ng-if="$index%2==col">
                                <div class="select-user-name" style="overflow: hidden;text-overflow:ellipsis;white-space: nowrap;">{{user.username}}<small>({{user.loginName}})</small></div>
                                <div class="select-user-text">{{user.corpName}}</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="margin-top:0;">
                <button ng-click="close()" class="btn btn-primary" translate>ACTION.CANCEL</button>
            </div>
        </div>
    </div>
</div>